<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings>
    <add key="DefaultConnString" value="TVQYvginJPVkfX7SXPA5fjbpkKPU6K+bOHV/+nJrvWSZvIahcI7PaWmFA87UrpOuaEeEfOxWN1qxtheF7rQKjUlP4e10W/WOghkuFJ9gUNFuXiuCm8wTgSESvZZ2On+9obd58CSuRlUeRMZqgCn2vXANnsKkIL/g"/>
    <add key="DefaultDbTpe" value="access"/>
    <add key="DefaultPwd" value="123456"/>
    <add key="EMailSuffix" value="@web611183622.w2.265idc.com"/>
    <add key="FileManage" value="../Files/"/>
    <add key="FCKeditor:BasePath" value="~/FCKeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/CqGuoTong/Files"/>
    <add key="DefaultConnString3" value=""/>
    <!--<add key="DefaultConnString1" value="server=192.168.1.15;UID=sa;PWD=sa;database=cqguotong"/>-->
    <add key="DefaultConnString4" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=db\db.mdb;User Id=admin;Password=;"/>
    <add key="DbBackUp" value=""/>
    <add key="LoginPage" value="../NeedLoginPage.html"/>
    <add key="NeedLoginPage" value="../NeedLoginPage.html"/>
    <add key="NotRightPage" value="../NotRightPage.html"/>
    <add key="pwd" value="123456"/>
    <add key="dbname" value="sqlcqguotong"/>
    <add key="userorder" value="(case rolename when '总经理' then 1 when '副总经理' then 2 when '经理' then 3 when '副经理' then 4 else 5 end) asc"/>

    <add key="companyMailServer" value="265idc.com"/>
    <add key="gotoMailSender" value="test@web611183622.w2.265idc.com"/>
    <add key="gotoSender" value="test@web611183622.w2.265idc.com"/>
    <add key="gotoMailPwd" value="123456"/>

    <add key="companyMailServer1" value="smtp.163.com"/>
    <add key="gotoMailSender1" value=""/>
    <add key="gotoSender1" value=""></add>
    <add key="gotoMailPwd1" value=""/>

    <add key="NoticeExpire" value="5"/>
    <add key="NewsExpire" value="10"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Office.Interop.Excel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="Microsoft.Office.Interop.Word, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Vbe.Interop, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="pg" namespace="DevCenter"/>
      </controls>
    </pages>
	</system.web>
</configuration>
