<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="configUrl" value="http://localhost:12345/BuyWebSiteDemo/YuanTuo/Index.aspx" />
    <!---->
    <add key="configUrl2" value="http://localhost:8089/YuanTuo/Index.aspx" />
    <add key="width" value="1366" />
    <add key="height" value="768" />
    <add key="locationPrefix" value="e:" />
    <add key="unoperationTime" value="30" />
    <add key="connectNetTime" value="3" />
    <add key="skypePath" value="E:\常用软件\Funshion\Funshion.exe" />

    <add key="servicePhone" value="+8601095105577" />
    <add key="TopFirstTimer" value="true"/>
  </appSettings>
</configuration>