BODY {
    PADDING-RIGHT: 0px; 
    PADDING-LEFT: 0px; 
    FONT-SIZE: 12px; 
    PADDING-BOTTOM: 0px; 
    MARGIN: 0px; 
    COLOR: white; 
    PADDING-TOP: 0px; 
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    BACKGROUND-COLOR: white
}
UL {
    PADDING-RIGHT: 0px; 
    PADDING-LEFT: 0px; 
    PADDING-BOTTOM: 0px; 
    MARGIN: 0px; 
    PADDING-TOP: 0px
}
LI {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px; 
    PADDING-BOTTOM: 0px; 
    MARGIN: 0px; 
    PADDING-TOP: 0px
}
LI {
    DISPLAY: inline;
    FONT-WEIGHT: bold; 
    LIST-STYLE-POSITION: outside; 
    FLOAT: left; 
    LIST-STYLE-TYPE: none; 
    TEXT-ALIGN: center
}
A:link {
    PADDING-RIGHT: 5px; 
    PADDING-LEFT: 5px; 
    FLOAT: none; 
    PADDING-BOTTOM: 0px; 
    WIDTH: 100px; 
    COLOR: #336601; 
    PADDING-TOP: 3px; 
    TEXT-DECORATION: none
}
A:visited {
    PADDING-RIGHT: 5px; 
    PADDING-LEFT: 5px; 
    FLOAT: none; 
    PADDING-BOTTOM: 0px; 
    WIDTH: 100px; 
    COLOR: #336601; 
    PADDING-TOP: 3px; 
    TEXT-DECORATION: none
}
A:hover {
    PADDING-RIGHT: 3px; 
    PADDING-LEFT: 20px; 
    FLOAT: none; 
    PADDING-BOTTOM: 0px; 
    WIDTH: 88px; 
    COLOR: white; 
    PADDING-TOP: 3px; 
    BACKGROUND-COLOR: #539d26; 
    TEXT-DECORATION: none
}
A:active {
    PADDING-RIGHT: 3px; 
    PADDING-LEFT: 20px; 
    FLOAT: none; 
    PADDING-BOTTOM: 0px;
    WIDTH: 88px; 
    COLOR: white; 
    PADDING-TOP: 3px; 
    BACKGROUND-COLOR: #bd06b4; 
    TEXT-DECORATION: none
}
#nav {
    PADDING-RIGHT: 5px; 
    PADDING-LEFT: 5px; 
    Z-INDEX: 1; 
    BORDER-BOTTOM-WIDTH: 0px; 
    PADDING-BOTTOM: 0px; 
    WIDTH: 600px; 
    PADDING-TOP: 0px; 
    POSITION: absolute; 
    HEIGHT: 30px
}
.list {
    PADDING-RIGHT: 4px; 
    PADDING-LEFT: 4px; 
    FONT-WEIGHT: normal; 
    PADDING-BOTTOM: 4px; 
    LINE-HEIGHT: 20px; 
    PADDING-TOP: 4px; 
    TEXT-ALIGN: left
}
.menu1 {
    BORDER-RIGHT: #9cdd75 1px solid; 
    PADDING-RIGHT: 0px; 
    BORDER-TOP: #9cdd75 1px solid; 
    OVERFLOW-Y: hidden; 
    PADDING-LEFT: 0px; 
    FILTER: Alpha(opacity=70); 
    PADDING-BOTTOM: 0px; 
    MARGIN: 6px 4px 0px 0px; 
    BORDER-LEFT: #9cdd75 1px solid; 
    WIDTH: 120px; 
    CURSOR: hand; 
    COLOR: #336601; 
    PADDING-TOP: 6px; 
    BORDER-BOTTOM: #9cdd75 1px solid; 
    HEIGHT: auto; 
    BACKGROUND-COLOR: #f1fbec; 
    moz-opacity: 0.7
}
.menu2 {
    BORDER-RIGHT: #eee8dd 1px solid; 
    PADDING-RIGHT: 0px; 
    BORDER-TOP: #eee8dd 1px solid;
    OVERFLOW-Y: hidden; 
    PADDING-LEFT: 0px; 
    PADDING-BOTTOM: 0px; 
    MARGIN: 6px 4px 0px 0px; 
    BORDER-LEFT: #eee8dd 1px solid; 
    WIDTH: 120px; 
    CURSOR: hand; 
    COLOR: #999999; 
    PADDING-TOP: 6px; 
    BORDER-BOTTOM: #eee8dd 1px solid ;
    vertical-align:middle; 
    HEIGHT: 18px; 
    BACKGROUND-COLOR: #f5f5f5
}
