<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FT.Windows.ExternalTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FT.Windows.ExternalTool.Properties.Settings>
            <setting name="FT_Windows_ExternalTool_localhost_DrvService"
                serializeAs="String">
                <value>http://localhost:8080/servweb/services/Drv</value>
            </setting>
        </FT.Windows.ExternalTool.Properties.Settings>
    </applicationSettings>
</configuration>