<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FT.Web.Bll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FT.Web.Bll.Properties.Settings>
            <setting name="FT_Web_Bll_terminalservice_TerminalStatusService"
                serializeAs="String">
                <value>http://localhost:4993/TerminalStatusService.asmx</value>
            </setting>
        </FT.Web.Bll.Properties.Settings>
    </applicationSettings>
</configuration>