<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="HSBC" type="ACE.Common.AppConfiguration, ACE.Common"/>
		<section name="magicAjax" type="MagicAjax.Configuration.MagicAjaxSectionHandler, MagicAjax"/>
	</configSections>
	<appSettings>
		<!--<add key="DBConnectionString" value="server=PC\SHEND;database=ProdutManage;uid=cis_user;pwd=cis_pwd;Connect Timeout=35"/>-->
		<add key="DBConnectionString" value="server=localhost;database=ProdutManage;uid=sa;pwd=sa;Connect Timeout=35"/>
		<!--<add key="FileServerPath" value="D:\Projects\ProductManage\FileServer\Pic"/>
		<add key="FileDownloadPath" value="ProductManage/FileServer/Pic"/>-->
		<add key="FileServerPath" value="ProductManage/FileServer/Pic"/>
		<add key="XmlFileServerPath" value="ProductManage/FileServer/Xml"/>
		<add key="FileDownloadPath" value="ProductManage/FileServer/Pic"/>
		<add key="XmlFileDownloadPath" value="ProductManage/FileServer/Xml"/>
	</appSettings>
	<!--<connectionStrings>
    --><!--<add name="DBConnectionString" connectionString="Data Source=SERVER;Initial Catalog=e_verbal_gb;Persist Security Info=True;User ID=CVIS_USER;Password=cvis_pwd"--><!--
   providerName="System.Data.SqlClient" />
 </connectionStrings>-->
	<system.web>
		<httpModules>
			<add name="MagicAjaxModule" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
		</httpModules>
		<!-- Encodeing-->
		<globalization requestEncoding="UTF-8" responseEncoding="UTF-8"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<magicAjax tracing="false">
		<pageStore/>
	</magicAjax>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
