<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="HSBC" type="ACE.Common.AppConfiguration, ACE.Common"/>
		<section name="magicAjax" type="MagicAjax.Configuration.MagicAjaxSectionHandler, MagicAjax"/>
	</configSections>
	<connectionStrings>
		<add name="ProdutManageConnectionString" connectionString="Data Source=192.168.1.160;Initial Catalog=ProdutManage;Persist Security Info=True;User ID=sa;Password=123qwe" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!--<add key="DBConnectionString" value="server=PC\SHEND;database=ProdutManage;uid=cis_user;pwd=cis_pwd;Connect Timeout=35"/>-->
		<add key="DBConnectionString" value="server=192.168.1.160;database=ProdutManage;uid=sa;pwd=123qwe;Connect Timeout=35"/>
		<add key="DefaultDbTpe" value="sqlserver"/>
		<add key="DefaultConnString" value="QP9Q4bFBp5VRu+bweU4OuSs6HpL3A0G5jjxyEDHRBuv6k9rv3iLct2SSa74ylb4dpcCwBljCCKNxawRq53VDEExbYb8y4bQVgRTZIQyyyMlrhug7yxc3jdH64rG/lfwOQZt3sVfjzFMgU0Vq1lyhmg=="/>
		<!--<add key="FileServerPath" value="D:\Projects\ProductManage\FileServer\Pic"/>
		<add key="FileDownloadPath" value="ProductManage/FileServer/Pic"/>-->
		<add key="FileServerPath" value="FileServer/Pic"/>
		<add key="XmlFileServerPath" value="FileServer/Xml"/>
		<add key="FileDownloadPath" value="FileServer/Pic"/>
		<add key="XmlFileDownloadPath" value="FileServer/Xml"/>
	</appSettings>
	<!--<connectionStrings>
    --><!--<add name="DBConnectionString" connectionString="Data Source=SERVER;Initial Catalog=e_verbal_gb;Persist Security Info=True;User ID=CVIS_USER;Password=cvis_pwd"--><!--
   providerName="System.Data.SqlClient" />
 </connectionStrings>-->
	<system.web>
		<httpModules>
      
			<add name="MagicAjaxModule" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
		</httpModules>
		<!-- Encodeing-->
		<globalization requestEncoding="UTF-8" responseEncoding="UTF-8"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Office.Interop.Excel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
				<add assembly="Office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
			</assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" cookieName=""/>
		<webServices>
			<protocols>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
			</protocols>
		</webServices>
		<pages theme="DefaultTheme">
			<controls>
				<add tagPrefix="ace" namespace="ACE.Common.Web.UI" assembly="ACE.Common.Web.UI"/>
				<add tagPrefix="ft" namespace="FtSoftWebControls" assembly="FtSoftWebControls"/>
				<add tagPrefix="uc" tagName="Product" src="~/Controls/ProductShow.ascx"/>
        <add tagPrefix="ajax" namespace="MagicAjax.UI.Controls" assembly="MagicAjax"/>
			</controls></pages>
	</system.web>
	<magicAjax tracing="false">
		<pageStore/>
	</magicAjax>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
