<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>
		<add key="Tmri_Preasign_jkxlh" value="18668193133148260118913126500919"/>
		<add key="Tmri_Preasign_jkid" value="02C71"/>
		<add key="Tmri_Preasign_xtlb" value="02"/>
    <add key="FT.WebServiceInterface.WebService.DrvStudentInfoRequest_jkid" value="02"/>
    <add key="FT.WebServiceInterface.WebService.DrvStudentInfoRequest_jkxlh" value="38473304331263992106294584471419"/>
    <add key="FT.WebServiceInterface.WebService.DrvStudentInfoRequest_xtlb" value="02C06"/>
    <add key="FT.WebServiceInterface.WebService.DrvStudentInfoRequest_sn" value=""/>
    
		<add key="Drv_Yuyue_Sn" value="33241887000354645126235194204787"/>
		<add key="Drv_Yuyue_After_Days" value="10"/>
		<add key="Drv_Yuyue_After_Days_Boolean" value="true"/>
		<add key="DrvHelperSystem_bkjg" value="20"/>
		<add key="DrvHelperSystem_glbm" value="4405"/>
		<add key="DrvHelperSystem_fzjg" value="粤D"/>
		<add key="DefaultDrvSeriveUrl-Timeout" value="6000"/>
		<add key="DefaultDrvSeriveUrlOld" value="http://10.40.30.250:80/servweb/services/Drv"/>
		<add key="DefaultDrvSeriveUrlOld-Timeout" value="6000"/>
		<add key="DefaultDabh" value="4404"/>
		<add key="DefaultDbTpe" value="oracle"/>
		<!--remote-->
		<add key="DefaultConnString4" value="QP9Q4bFBp5Vy38JS0bHGGQGxMe8Nwdmt0Z5HbUb65xW7b2BXOXf+E0pAvJDZKc1vPPL8bQ5UcPbVLFu3MRILZrcf6Arm/zlvxxCio+zwh/bDeGEzJljeFF/BdcSBp/DgTCbeDMVcYiBKUvWdp2SLkYsEjODkb57wQJebcuWCOSGEBOnrEFopuJXYw+6fGA8D9qpJJ5dmj6aLWeUEO9/B/dKGvuC88dwbJXHLmO4wIkZfJqwZpXLXSl/lf0ByGXV6"/>
		<!--local-->
		<add key="DefaultConnString3" value="QP9Q4bFBp5Vy38JS0bHGGQGxMe8Nwdmt0Z5HbUb65xW7b2BXOXf+E0pAvJDZKc1vPPL8bQ5UcPbVLFu3MRILZtKf+ijwrraWaxH+9Wa5kcHs4m82MhiGpagBWPc5E3ccqX60/HSq+ZbbXwyZlF4ntc8dGpNEwWV5ZZ/+hSarR8lU6qkLfGIfa+VWsGhjJbZtc5rTmtWB+UWp5Hbl/uSHjpfC0vLbx0Evnzu7dI0oJHqmKWzoQDLJtQ=="/>
		<!--local-server-->
		<add key="DefaultConnString" value="QP9Q4bFBp5Vy38JS0bHGGQGxMe8Nwdmt0Z5HbUb65xW7b2BXOXf+E0pAvJDZKc1vPPL8bQ5UcPbVLFu3MRILZu7zPk0i13IMhY/n+HIM8jenjC/irYSqcCHRd4OskMHvDJk3bFlksdMdEi9mGgpMlfTPbP2WAEPEdCJiU7D2XMlWCAMOiCXS8ZV1N3y66uP0VAOdNHfzKDSVwHYf/hLzFAGhtk8R8q6iYvzG9hEgdYjhzlCa2Eg0Mw3gjundu/Ki"/>
		<!--inner-server-->
		<add key="DefaultConnString2" value="QP9Q4bFBp5Vy38JS0bHGGQGxMe8Nwdmt0Z5HbUb65xW7b2BXOXf+E0pAvJDZKc1vPPL8bQ5UcPbVLFu3MRILZu7zPk0i13IMhY/n+HIM8jenjC/irYSqcCHRd4OskMHvDJk3bFlksdMdEi9mGgpMlfTPbP2WAEPEdCJiU7D2XMlWCAMOiCXS8ZV1N3y66uP0VAOdNHfzKDSVwHYf/hLzFAGhtk8R8q6iYvzG9hEgdYjhzlCa2Eg0Mw3gjundu/Ki"/>
		<!--文件管理的路径-->
		<add key="FileManage" value="../Files/"/>
		<!--fck的路径-->
		<add key="FCKeditor:BasePath" value="~/FCKeditor/"/>
		<!--fck上传的文件路径-->
		<add key="FCKeditor:UserFilesPath" value="/FckUploadFiles"/>
		<!--添加用户的默认密码-->
		<add key="DefaultPassword" value="123456"/>
		<!--登陆页面-->
		<add key="NeedLoginPage" value="http://127.0.0.1:1300/DrvHelperSystem/UserManage/Login.aspx"/>
		<!--邮件链接页面-->
		<add key="AdviseIdealPage" value="http://192.168.10.215/Customer/Login.aspx"/>
		<!--邮箱帐号-->
		<add key="CustomerEmailName" value="10000@hmg.cn"/>
		<!--邮箱密码-->
		<add key="CustomerEmailPwd" value="123456"/>
		<!--收件服务器-->
		<add key="CustomerEmailPop3Server" value="mail.hmg.cn"/>
		<!--收件服务器端口-->
		<add key="CustomerEmailPop3Port" value="110"/>
		<!--发件服务器-->
		<add key="CustomerEmailSmtpServer" value="mail.hmg.cn"/>
		<!--发件服务器端口-->
		<add key="CustomerEmailSmtpPort" value="21"/>
		<!--发件人姓名-->
		<add key="CustomerEmailSmtpName" value="10000客服"/>
		<!--发件人Email-->
		<add key="CustomerEmailSmtpEmail" value="10000@hmg.cn"/>
		<!--接收完邮箱是否在服务器上删除邮件true为删除，false不删除-->
		<add key="DeleteAfterReceive" value="false"/>
		<!--asg组的邮箱地址-->
		<add key="AsgEmail" value="chenbw@hmg.cn"/>
		<!--接收邮件间隔-->
		<add key="AcceptTime" value="60000"/>
		<!--邮件存放的物理路径-->
		<add key="EmailStore" value="e:\Advise\Emails"/>
		<add key="CanSeeGuangZhou" value="3|21"/>
	</appSettings>
	<system.web>

    <globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312" />

    <pages>
			<!-- 自定义用户控件-->
			<controls>
				<add tagPrefix="FpUCL" tagName="viewStudentInfo" src="~/FpSystem/UserControler/viewStudentInfo.ascx"/>
        <add tagPrefix="FpUCL" tagName="viewSiteInfo" src="~/FpSystem/UserControler/viewSiteInfo.ascx"/>
			</controls>
		</pages>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<httpRuntime maxRequestLength="100000" useFullyQualifiedRedirectUrl="false" executionTimeout="6000"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<!--
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
    </httpHandlers>
   -->
	</system.web>
</configuration>
