<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnString" value="TVQYvginJPVkfX7SXPA5fjbpkKPU6K+bOHV/+nJrvWSZvIahcI7PaWmFA87UrpOuaEeEfOxWN1qxtheF7rQKjUlP4e10W/WOuXfpwitid6bHqK8WPtuEBGzKijUfZIEds/+0J9bHvjPb3N8z6laKeOCihDUKu5Ds"/>
    <add key="DefaultDbTpe" value="access"/>
    <add key="DefaultPwd" value="123456"/>
  </appSettings>
</configuration>