<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnString" value="TVQYvginJPVkfX7SXPA5fjbpkKPU6K+bOHV/+nJrvWSFbTWFl83yUXAqipO44f3CjGUE1fsP8T7D0QjQNmaUQlnCzvqPLAADv7+1UADPXfc="/>
    <add key="DefaultDbTpe" value="access"/>
    <add key="DefaultPwd" value="123456"/>
  </appSettings>
</configuration>