<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <!--Interface接口地址-->
    <!--http://iphone.51cp.com:8080/ws/hpcinema-->
    <!--http://119.10.114.212/ws/hpcinema-->
    <add key="Interface_Url" value="http://open.hipiao.com:8080/ws/hpcinema" />
    <!--Interface超时时间-->
    <add key="Interface_Timeout" value="30" />
    <!--Interface购票Wap地址-->
    <add key="Interface_Buy_Wap_Url" value="https://member.hipiao.com/ticket/wap.php" />
    <!--Interface购票Machine地址-->
    <add key="Interface_Buy_Machine_Url" value="https://member.hipiao.com/ticket/hpMachine.php" />
    <!--Interface短信接口地址-->
    <add key="Interface_Sms_Url" value="https://member.hipiao.com/ticket/hpMachineSendSms.php" />
    <!--Keyboard金属键盘端口-->
    <add key="Keyboard_Port" value="com2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Rfid会员卡M1卡阅读端口,第一个参数100为USB口，0为串口一，1为串口二等等-->
    <add key="RfidCard_Port" value="0" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>