<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <!--
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  -->
  <appSettings>
    <!--无密码的数据库连接串-->
    <!--
    <add key="DefaultConnString" value="TVQYvginJPVkfX7SXPA5fjbpkKPU6K+bOHV/+nJrvWSFbTWFl83yUXAqipO44f3CjGUE1fsP8T7D0QjQNmaUQlnCzvqPLAADv7+1UADPXfc="/>
    -->
    <add key="DefaultConnString" value="TVQYvginJPVkfX7SXPA5fjbpkKPU6K+bOHV/+nJrvWSZvIahcI7PaWmFA87UrpOuaEeEfOxWN1qxtheF7rQKjUlP4e10W/WOuXfpwitid6bHqK8WPtuEBGzKijUfZIEds/+0J9bHvjPb3N8z6laKeOCihDUKu5Ds"/>
    <add key="DefaultDbTpe" value="access"/>
    <add key="DefaultPwd" value="123456"/>
    <!--二维条码纠错等级，可选值L,M,Q,H-->
    <add key="ErrorCorrect" value="H"/>
    <!--二纬条码的Scale的Size，必须为整数，数越小说明越小的图片容纳越多数据-->
    <add key="QRCodeScale" value="2"/>

    <!--二纬条码的QRCodeVersion的,必须为整数,从1开始，数越大说明容纳越多数据-->
    <add key="QRCodeVersion" value="30"/>
    <!--是否使用皮肤，是为true，否为false-->
    <add key="ApplySkin" value="true"/>
    <!--是否使用二代证读卡器，是为true，不用为false-->
    <add key="UserIDCardReader" value="true"/>
    <!--学生来源是否可选的，可选为true，不可选为false-->
    <add key="AllowSelectFrom" value="true"/>
    <!--体检信息视力的小数点个数，0说明为整数-->
    <add key="EyeDecimal" value="1"/>

    <!--是否要验证体检信息才让打申请表-->
    <add key="ValidateBodyCheck" value="true"/>
    <!--是否允许使用摄像头，可选为true，不可选为false-->
    <add key="UseCamera" value="true"/>

    <!--是否允许发送到客户端-->
    <add key="AllowSend" value="true"/>
  </appSettings>
 
</configuration>