<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Interface接口地址-->
    <!--http://iphone.51cp.com:8080/ws/hpcinema-->
    <add key="Interface_Url" value="http://202.10.77.32:8080/ws/hpcinema"/>
    <!--Interface超时时间-->
    <add key="Interface_Timeout" value="30"/>
    <!--Interface购票Wap地址-->
    <add key="Interface_Buy_Wap_Url" value="https://member.hipiao.com/ticket/wap.php"/>

    <!--Interface购票Machine地址-->
    <add key="Interface_Buy_Machine_Url" value="https://member.hipiao.com/ticket/hpMachine.php"/>

    <!--Interface短信接口地址-->
    <add key="Interface_Sms_Url" value="https://member.hipiao.com/ticket/hpMachineSendSms.php"/>

    
    <!--Keyboard金属键盘端口-->
    <add key="Keyboard_Port" value="com2"/>
  </appSettings>
</configuration>