<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Interface接口地址-->
    <!--http://iphone.51cp.com:8080/ws/hpcinema-->
    <add key="Interface_Url" value="http://202.10.77.32:8080/ws/hpcinema"/>
    <!--Interface超时时间-->
    <add key="Interface_Timeout" value="30"/>
    <!--Interface购票地址-->
    <add key="Interface_Buy_Url" value="https://member.hipiao.com/ticket/wap.php"/>
    <!--Keyboard金属键盘端口-->
    <add key="Keyboard_Port" value="com2"/>
  </appSettings>
</configuration>